.teaser {
  background-color: var(--gray-2);
  padding: var(--size-3);
  padding-bottom: 0px;
  box-shadow: var(--shadow-3);
  transition: box-shadow 500ms ease-in-out;

  &:hover {
    box-shadow: var(--shadow-6);
    transition: box-shadow 500ms ease-in-out;
  }
}

.teaser img {
  display: block;
}

.titleBar {
  text-decoration: none;
  text-align: center;
  padding-block: var(--size-3);
  color: var(--gray-9);
}

.link {
  text-decoration: none;
}
