.title {
  font-size: calc(var(--font-size-8) * 2);
  font-weight: var(--font-weight-4);
  line-height: var(--font-lineheight-00);
}

.subtitle {
  font-size: var(--font-size-3);
  line-height: var(--font-lineheight-00);
  font-weight: var(--font-weight-8);
  color: var(--accent-color);
}

.container {}
